<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartwatch.context.project">

    <!-- For free-style voice trigger and voice menus. -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="smartwatch.context.project.MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity android:name=".card.WiFiBleActivity"
            android:exported="true"
            />

        <activity android:name=".card.GlassLocalizationActivity"
            android:exported="true"
            />

        <activity android:name=".card.QRCodeActivity"
            android:exported="true"
            />

    </application>

</manifest>
